#cssmenu {padding: 0; margin-left:245px; border: 0;backgroung:#000;width:1200px;}
#cssmenu ul, #cssmenu li {list-style: none; margin: 0; padding: 0;}
#cssmenu ul {position: relative; z-index: 597; }
#cssmenu ul li { float: left; min-height: 1px; vertical-align: middle;}
#cssmenu ul li.hover,
#cssmenu ul li:hover {position: relative; z-index: 599; cursor: default;}
#cssmenu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
#cssmenu ul ul li {float: none;}
#cssmenu ul ul ul {top: 0; left: auto; right: -99.5%; }
#cssmenu ul li:hover > ul { visibility: visible;}
#cssmenu ul ul {bottom: 0; left: 0;}
#cssmenu ul ul {margin-top: 0; }
#cssmenu ul ul li {font-weight: normal;}
#cssmenu a { display: block; line-height: 1em; text-decoration: none; }
#cssmenu {
   background: #000000 transparent;
   font: bold 12px Arial;
}
#cssmenu > ul { *display: inline-block; }
#cssmenu:after, #cssmenu ul:after {
content: '';
display: block;
clear: both;
}
#cssmenu a {
background: url(https://lh5.googleusercontent.com/-2Hw35UuPWEE/VSrty5dmN0I/AAAAAAAABDg/QfG7k6S7p5s/w250-h40-no/black%2Bbutton.png);background-position:top left;
border-top: 1px solid #444444;
border-bottom: 1px solid #444444;
border-left: 1px solid #444444;
border-right: 1px solid #444444;
border-radius: 3px 3px 3px 3px;
color: #ffffff;
padding: 0 15px;
}
#cssmenu ul { text-transform: uppercase; }
#cssmenu ul ul {
border-top: 2px solid #444444;
text-transform: none;
min-width: 160px;
}
#cssmenu ul ul a {
background: url(https://lh5.googleusercontent.com/-2Hw35UuPWEE/VSrty5dmN0I/AAAAAAAABDg/QfG7k6S7p5s/w250-h40-no/black%2Bbutton.png);background-position:top left;
color: #ffffff;
border: 1px solid #444444;
border-top: 0 none;
line-height: 150%;
padding: 5px 5px;
}
#cssmenu ul ul ul { border-top: 2px solid #444444; border-radius: 3px 3px 3px 3px;}
#cssmenu ul ul li { position: relative }
#cssmenu > ul > li > a { line-height: 35px;  }
#cssmenu ul ul li:last-child > a {
border-radius: 3px 3px 3px 3px;
box-shadow: 0 1px 0 #ffffff;
}
#cssmenu ul ul li:last-child:hover > a { border-radius: 3px 3px 3px 3px; }
#cssmenu ul ul li.has-sub > a:after {
content: '';
position: absolute;
top: 50%;
right: 15px;
margin-top: -8px;
}
#cssmenu ul li:hover > a, #cssmenu ul li.active > a {
background: url(https://lh4.googleusercontent.com/-JcMCGTB6MmE/VSr3ipxhIGI/AAAAAAAABE8/Z4s5dsr0po4/w250-h45-no/blue%2Bbutton%2B2.png);background-position:top left;
color: yellow;
}
#cssmenu ul li.has-sub > a:after {
content: '+';
margin-left: 5px;
}
#cssmenu ul li.last ul {
left: auto;
right: 0;
}
#cssmenu ul li.last ul ul {
left: auto;
right: 99.5%;
}